.main{
    font-family: sans-serif;
    position: relative;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    box-shadow: 2px 1px 2px #eee;
    position:sticky;
    top: 0;
    padding-bottom: 0.5em;
}
.header img{
    cursor: pointer;
}
.nav ul{
    align-items: center;
    font-size: 1em;
    list-style: none;
    display: flex;
    gap: 40px;
    color: #666666;
    font-weight: 500;
}
.nav ul b{
    font-size: 1.2em;
    font-weight: 700;
    cursor: pointer;
}

.nav ul li{
    cursor: pointer;
}
.nav ul li:hover{
    color: #387ed1;
}
.centre-body{
    width: 60vw;
    margin: auto;
}
.centre-pic{
    display: block;
    width: 60vw;
    height: 50vh;
    margin: 40px auto;
    margin-top: 50px;
}

.centre-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.centre-content h1{
    margin-top: 1em;
    margin: 0.1em;
    color: #424242;
    font-size: 1.75em;
    font-weight: 600;
}

.centre-content p{
    margin-bottom: 2.5em;
    color: #424242;
    font-size: 1.3em;
    font-weight: 500;
    
}

.centre-content button{
    background-color: #387ed1;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    font-size: 1.3em;
    font-weight: 500;
    padding: 0.5em .9em;
    cursor: pointer;
}

.centre-content button:hover{
    background-color: black;
}

.part1{
    width: 75vw;
    margin: auto;
    margin-top: 120px;
}
.division{
    display: flex;
    align-items: center;
    gap: 40px;
}

.content-left{
    color: #424242;
}
.content-left h1{
    margin-bottom: 40px;
    font-size: 26px;
    font-weight: 500;
}

.content-left h2{
    font-size: 22px;
    font-weight: 500;
}

.content-left p{
    color: #666666;
    line-height: 1.8;
    margin: 5px 0 32px 0;
}

.content-left span{
    color: #387ed1;
    font-weight: 600;
    cursor: pointer;
}

.redirect{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.links{
    color: #387ed1;
    display: flex;
    gap: 10px;
    font-size: 1.05em;
    font-weight: 500;
}
.part1 >img{
    width: 700px;
    display: block;
    margin: 50px auto 0 auto;
}

.part2{
    width: 75vw;
    margin: auto;
    margin-top: 120px;
}

.part2 .content-right{
    display: flex;
    justify-content: center;
}

.img-box{
    color: #666666;
    display: flex;
    font-size: 0.7em;
    font-weight: 400;
}
.img-box div{
       align-self: center;
    position: relative;
    right: 22px;
    top: 10px;
    line-height: 1.5em;
}